In [2]:
import pandas as pd
import numpy as np
import config as conf

In [3]:
# Let's load the dataset and start the exploration.

df = pd.read_csv(conf.data_path,index_col=None)

df.head(3)

,Unnamed: 0,title,price,city,datetime,nb_rooms,nb_baths,surface_area,equipement,link
0,0,CMN-MA-1641 - Appartement à vendre à Val Fleurie,1 600 000 DH,Casablanca,"11/6/2024, 12:12:49 PM",3.0,1,132,"Ascenseur, Balcon, Parking, Terrasse",https://www.avito.ma/fr/val_fleuri/appartement...
1,1,Appartement à vendre 125 m² à Casablanca,9 900 DH,Casablanca,"11/6/2024, 12:12:26 PM",2.0,2,125,"Balcon, Climatisation, Cuisine Équipée, Parkin...",https://www.avito.ma/fr/autre_secteur/appartem...
2,2,CMN-MA-1787 - Appartement à vendre à Les Hôpitaux,2 300 000 DH,Casablanca,"11/6/2024, 12:10:48 PM",3.0,2,233,"Ascenseur, Balcon, Parking, Terrasse",https://www.avito.ma/fr/quartier_des_h%C3%B4pi...

In [4]:
# printing a full summary of our data.
df.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1760 entries, 0 to 1759
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1760 non-null   int64
 1   title         1400 non-null   object
 2   price         1400 non-null   object
 3   city          1400 non-null   object
 4   datetime      1394 non-null   object
 5   nb_rooms      1193 non-null   float64
 6   nb_baths      1181 non-null   object
 7   surface_area  990 non-null    object
 8   equipement    868 non-null    object
 9   link          1760 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 137.6+ KB

In [5]:
# Before starting the cleaning process let's normalize the column's naming.

df.rename(
    columns = {
        "equipement" : "extras"
        
    }
)

,Unnamed: 0,title,price,city,datetime,nb_rooms,nb_baths,surface_area,extras,link
0,0,CMN-MA-1641 - Appartement à vendre à Val Fleurie,1 600 000 DH,Casablanca,"11/6/2024, 12:12:49 PM",3.0,1,132,"Ascenseur, Balcon, Parking, Terrasse",https://www.avito.ma/fr/val_fleuri/appartement...
1,1,Appartement à vendre 125 m² à Casablanca,9 900 DH,Casablanca,"11/6/2024, 12:12:26 PM",2.0,2,125,"Balcon, Climatisation, Cuisine Équipée, Parkin...",https://www.avito.ma/fr/autre_secteur/appartem...
2,2,CMN-MA-1787 - Appartement à vendre à Les Hôpitaux,2 300 000 DH,Casablanca,"11/6/2024, 12:10:48 PM",3.0,2,233,"Ascenseur, Balcon, Parking, Terrasse",https://www.avito.ma/fr/quartier_des_h%C3%B4pi...
3,3,Appartement à vendre 3 chambres Salon à Casa,PRIX NON SPÉCIFIÉ,Casablanca,"11/6/2024, 12:10:57 PM",NaN,NaN,NaN,NaN,https://www.avito.ma/fr/ain_sebaa/appartements...
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://immoneuf.avito.ma/fr/unite/l53?utm_sou...
...,...,...,...,...,...,...,...,...,...,...
1755,1755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://immoneuf.avito.ma/fr/unite/job?utm_sou...
1756,1756,CMN-AN-1524 - Appartement à vendre à Racine,3 300 000 DH,Casablanca,"9/17/2024, 10:44:45 AM",3.0,2,154,"Ascenseur, Parking",https://www.avito.ma/fr/racine/appartements/CM...
1757,1757,CMN-AC-1776 - Appartement à vendre à Californie,3 500 000 DH,Casablanca,"9/17/2024, 10:26:48 AM",3.0,2,170,"Ascenseur, Balcon, Parking, Terrasse",https://www.avito.ma/fr/californie/appartement...
1758,1758,Bel Appartement à vendre 117 m² à Casablanca,990 000 DH,Casablanca,"9/17/2024, 10:08:29 AM",2.0,2,117,"Ascenseur, Balcon, Parking, Sécurité",https://www.avito.ma/fr/ain_sebaa/appartements...
1759,1759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://immoneuf.avito.ma/fr/unite/jU1?utm_sou...

In [6]:
# Remove the first column (randomly generated while scraping)

df.drop('Unnamed: 0',axis = 1 ,inplace = True)
df.drop('link',axis = 1 ,inplace = True)

df.head(1)

,title,price,city,datetime,nb_rooms,nb_baths,surface_area,equipement
0,CMN-MA-1641 - Appartement à vendre à Val Fleurie,1 600 000 DH,Casablanca,"11/6/2024, 12:12:49 PM",3.0,1,132,"Ascenseur, Balcon, Parking, Terrasse"

In [7]:
df.shape

(1760, 8)

In [8]:
df.describe(include='all')

,title,price,city,datetime,nb_rooms,nb_baths,surface_area,equipement
count,1400,1400,1400,1394,1193.000000,1181,990,868
unique,789,328,21,1392,NaN,12,203,260
top,Appartement à vendre 50 m² à Casablanca,PRIX NON SPÉCIFIÉ,Casablanca,"10/4/2024, 12:22:09 PM",NaN,2,50,"Ascenseur, Balcon, Parking, Terrasse"
freq,51,207,1336,2,NaN,560,34,73
mean,NaN,NaN,NaN,NaN,2.393965,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,0.746826,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,2.000000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,3.000000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,7.000000,NaN,NaN,NaN

seems like our data will need more cleaning than expected

In [9]:
# let's check how many missing values where are dealy with an where are they

df.isna().sum()

title           360
price           360
city            360
datetime        366
nb_rooms        567
nb_baths        579
surface_area    770
equipement      892
dtype: int64

Let's search for rows that are entierly empty

describe the df defect you had and why you chose this method

In [10]:
# Let's search for rows that are entierly empty
null_values = df.iloc[:,:8].isnull().all(axis = 1)

df = df[~null_values]

del null_values

In [11]:
# checking if the amputation went well
df.isnull().sum()

title             0
price             0
city              0
datetime          6
nb_rooms        207
nb_baths        219
surface_area    410
equipement      532
dtype: int64

now we can start the data exploration and thorough cleaning

let's start by formating the data and adjusting the data types accordingly

In [12]:
# The data is not correctly formated and types are all over the places.

# cleaning each field and adjusting its type

# Formatting and casting the price
df['price'] = df['price'].str.replace(r'\s+| DH', '', regex=True).str.replace('DH','') # for some reason this in the only one that works
df['price'] = pd.to_numeric(df['price'], errors='coerce')

In [13]:
df['surface_area'] = pd.to_numeric(df['surface_area'],errors = 'coerce')

df['surface_area'].describe()

count    987.000000
mean     107.141844
std       55.772849
min       11.000000
25%       66.500000
50%       96.000000
75%      131.000000
max      447.000000
Name: surface_area, dtype: float64

In [14]:
# doing the same for number of baths and rooms
df['nb_baths'] = pd.to_numeric(df['nb_baths'],errors = 'coerce')
df['nb_rooms'] = pd.to_numeric(df['nb_rooms'],errors = 'coerce')

In [15]:
# let's split the time


formatted_date =  pd.to_datetime(df['datetime'], format='%d/%m/%Y, %I:%M:%S %p', errors='coerce')

formatted_date.head(30)[0]

Timestamp('2024-06-11 12:12:49')

In [16]:
df.head()

,title,price,city,datetime,nb_rooms,nb_baths,surface_area,equipement
0,CMN-MA-1641 - Appartement à vendre à Val Fleurie,1600000.0,Casablanca,"11/6/2024, 12:12:49 PM",3.0,1.0,132.0,"Ascenseur, Balcon, Parking, Terrasse"
1,Appartement à vendre 125 m² à Casablanca,9900.0,Casablanca,"11/6/2024, 12:12:26 PM",2.0,2.0,125.0,"Balcon, Climatisation, Cuisine Équipée, Parkin..."
2,CMN-MA-1787 - Appartement à vendre à Les Hôpitaux,2300000.0,Casablanca,"11/6/2024, 12:10:48 PM",3.0,2.0,233.0,"Ascenseur, Balcon, Parking, Terrasse"
3,Appartement à vendre 3 chambres Salon à Casa,NaN,Casablanca,"11/6/2024, 12:10:57 PM",NaN,NaN,NaN,NaN
5,Appartement à vendre 202 m² à Casablanca,3000000.0,Casablanca,"11/6/2024, 11:59:43 AM",4.0,3.0,202.0,"Ascenseur, Balcon, Climatisation, Concierge, T..."

In [17]:
# df['time'].isnull().sum()
df['Datetime'] = pd.to_datetime(df['datetime'],format='%m/%d/%Y, %I:%M:%S %p', errors='coerce')
# droping the old column
df.drop('datetime',axis = 1, inplace=True)

In [18]:
# splitting the datetime column into date and time and converting to 24h system.
df['Time'] = df['Datetime'].dt.time
df['Date'] = df['Datetime'].dt.date

df.head()

,title,price,city,nb_rooms,nb_baths,surface_area,equipement,Datetime,Time,Date
0,CMN-MA-1641 - Appartement à vendre à Val Fleurie,1600000.0,Casablanca,3.0,1.0,132.0,"Ascenseur, Balcon, Parking, Terrasse",2024-11-06 12:12:49,12:12:49,2024-11-06
1,Appartement à vendre 125 m² à Casablanca,9900.0,Casablanca,2.0,2.0,125.0,"Balcon, Climatisation, Cuisine Équipée, Parkin...",2024-11-06 12:12:26,12:12:26,2024-11-06
2,CMN-MA-1787 - Appartement à vendre à Les Hôpitaux,2300000.0,Casablanca,3.0,2.0,233.0,"Ascenseur, Balcon, Parking, Terrasse",2024-11-06 12:10:48,12:10:48,2024-11-06
3,Appartement à vendre 3 chambres Salon à Casa,NaN,Casablanca,NaN,NaN,NaN,NaN,2024-11-06 12:10:57,12:10:57,2024-11-06
5,Appartement à vendre 202 m² à Casablanca,3000000.0,Casablanca,4.0,3.0,202.0,"Ascenseur, Balcon, Climatisation, Concierge, T...",2024-11-06 11:59:43,11:59:43,2024-11-06

In [19]:
# dropping old datetime column
df.drop(columns = {'Datetime'},axis = 1,inplace=True)

In [20]:
df.describe(include = 'all')

,title,price,city,nb_rooms,nb_baths,surface_area,equipement,Time,Date
count,1400,1.193000e+03,1400,1193.000000,1179.000000,987.000000,868,1394,1394
unique,789,NaN,21,NaN,NaN,NaN,260,1369,51
top,Appartement à vendre 50 m² à Casablanca,NaN,Casablanca,NaN,NaN,NaN,"Ascenseur, Balcon, Parking, Terrasse",20:07:26,2024-11-05
freq,51,NaN,1336,NaN,NaN,NaN,73,2,100
mean,NaN,2.014280e+06,NaN,2.393965,12.945717,107.141844,NaN,NaN,NaN
std,NaN,1.872560e+07,NaN,0.746826,378.582786,55.772849,NaN,NaN,NaN
min,NaN,3.500000e+01,NaN,1.000000,0.000000,11.000000,NaN,NaN,NaN
25%,NaN,5.600000e+05,NaN,2.000000,1.000000,66.500000,NaN,NaN,NaN
50%,NaN,1.050000e+06,NaN,2.000000,2.000000,96.000000,NaN,NaN,NaN
75%,NaN,1.720000e+06,NaN,3.000000,2.000000,131.000000,NaN,NaN,NaN
max,NaN,6.279000e+08,NaN,7.000000,13000.000000,447.000000,NaN,NaN,NaN

In [21]:
df.head()

,title,price,city,nb_rooms,nb_baths,surface_area,equipement,Time,Date
0,CMN-MA-1641 - Appartement à vendre à Val Fleurie,1600000.0,Casablanca,3.0,1.0,132.0,"Ascenseur, Balcon, Parking, Terrasse",12:12:49,2024-11-06
1,Appartement à vendre 125 m² à Casablanca,9900.0,Casablanca,2.0,2.0,125.0,"Balcon, Climatisation, Cuisine Équipée, Parkin...",12:12:26,2024-11-06
2,CMN-MA-1787 - Appartement à vendre à Les Hôpitaux,2300000.0,Casablanca,3.0,2.0,233.0,"Ascenseur, Balcon, Parking, Terrasse",12:10:48,2024-11-06
3,Appartement à vendre 3 chambres Salon à Casa,NaN,Casablanca,NaN,NaN,NaN,NaN,12:10:57,2024-11-06
5,Appartement à vendre 202 m² à Casablanca,3000000.0,Casablanca,4.0,3.0,202.0,"Ascenseur, Balcon, Climatisation, Concierge, T...",11:59:43,2024-11-06

In [22]:
# Redescribing the data after the transformation 

df.describe(include='all')

,title,price,city,nb_rooms,nb_baths,surface_area,equipement,Time,Date
count,1400,1.193000e+03,1400,1193.000000,1179.000000,987.000000,868,1394,1394
unique,789,NaN,21,NaN,NaN,NaN,260,1369,51
top,Appartement à vendre 50 m² à Casablanca,NaN,Casablanca,NaN,NaN,NaN,"Ascenseur, Balcon, Parking, Terrasse",20:07:26,2024-11-05
freq,51,NaN,1336,NaN,NaN,NaN,73,2,100
mean,NaN,2.014280e+06,NaN,2.393965,12.945717,107.141844,NaN,NaN,NaN
std,NaN,1.872560e+07,NaN,0.746826,378.582786,55.772849,NaN,NaN,NaN
min,NaN,3.500000e+01,NaN,1.000000,0.000000,11.000000,NaN,NaN,NaN
25%,NaN,5.600000e+05,NaN,2.000000,1.000000,66.500000,NaN,NaN,NaN
50%,NaN,1.050000e+06,NaN,2.000000,2.000000,96.000000,NaN,NaN,NaN
75%,NaN,1.720000e+06,NaN,3.000000,2.000000,131.000000,NaN,NaN,NaN
max,NaN,6.279000e+08,NaN,7.000000,13000.000000,447.000000,NaN,NaN,NaN

### La distribution des donnees :

In [23]:
# Missing values per column

df.isna().sum()

title             0
price           207
city              0
nb_rooms        207
nb_baths        221
surface_area    413
equipement      532
Time              6
Date              6
dtype: int64

In [24]:
# Removing the rows with missing values for multiple columns : (price, nb_rooms, nb_baths, surface_area)

rows_no_info = df.loc[df['price','nb_rooms','nb_baths','surface_area'].isna()]

print(rows_no_info)

KeyError: ('price', 'nb_rooms', 'nb_baths', 'surface_area')